* {
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {

    #header {
        display: flex;
        justify-content: space-between;
        margin: 15px 5px;
        padding: 15px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    #header-img {
        max-width: 5em;
        height: auto;
    }


    .video-container {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    #video {
        width: auto;
        height: 300px;
        max-width: 300px;
        max-height: 280px;
    }

}